@import '../../../../styles/variables';
@import '../../../../styles/view';

#section-1 {
    width:100%;
    height:100%;
    position:absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    background: url("../../../../assets/images/section-1-bg.jpg");
    box-shadow:inset 0 0 0 2000px $primary-color-rgba;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    height: 100%;
    position: absolute;
    top: 50px;
    padding-left: 50px;

    h1 {
        text-transform: uppercase;
        font-size: 9.5rem;
        color: $white;
    }

    .section-1-subtext {
        color: $white;
        padding: 15px;

        h4 {
            font-family: $primary-font;
            line-height: 2px;
            letter-spacing: 1px;
        }
    }
}