@import '../../../../styles/variables';
@import '../../../../styles/view';

.nav-container {
  background: transparent;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .nav-inner {
    min-height: 80px;
  }

  .logo-container {
    width: 100%;
    max-width: 180px;
  }

  .nav-items {
    margin: 0;
    padding: 0;
    list-style: none;

    .nav-item {
      color: $white;
      display: inline-block;
      padding: 20px 10px;
      cursor: pointer;

      &:hover {
        color: #2A93D5;
      }
    }
  }
}

.nav-fixed {
  background: $white;
  display: none;

  .visible {
    transition: top 0.5s ease-in-out;
    display: inline-block !important;
    top: 0;
  }

  .nav-item {
    color: #333333;
  }
}
